<p id="notice"><%= notice %></p>

<h1>Admin Panel</h1>

<%= link_to 'Instructors', instructors_path %>
<br>
<%= link_to 'Students', students_path %>
<br>
<%= link_to 'Create New users', new_user_path %>
<br>
<%= link_to 'Assign roles to users', assign_roles_path %>

<br>

<%#= link_to 'New Admin', new_admin_path %>
