<p id="notice"><%= notice %></p>

<p>
  <strong>Studentid:</strong>
  <%= @student.studentID %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.DOB %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>

<%= link_to 'View All Courses', courses_path %>
<%= link_to 'View My Courses', courses_path %>>