<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @instructor.id %>
  <br>
  <strong>Name:</strong>
  <%= @instructor.name %>
  <br>
  <strong>Email:</strong>
  <%= @instructor.email %>
  <br>
  <strong>Department:</strong>
  <%= @instructor.department %>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
<%= link_to 'Add Course', new_course_path(:instructor_id => @instructor.id) %>
<%= link_to 'View My Courses', courses_path %>
