<p id=”notice”><%= notice %></p>
<p id=”alert”><%= alert %></p>
<h1>MyPack Portal</h1>
<p>Course Enrollment</p>
<% if current_user %>
  <% if !current_user.role.nil? %>
    Visit
    <% if current_user.role == "Admin" %>
      <%= link_to "Your Page ", admins_path %>
    <% end %>
    <% if current_user.role == "Student" %>
      <%= link_to "Your Page ", student_path(current_user.student[:id]) %>
    <% end %>
    <% if current_user.role == "Instructor" %>
      <%= link_to "Your Page ", instructor_path(current_user.instructor[:id]) %>
    <% end %>
  <% else %>
    No role assigned to you please select from the following ones:
    <%= link_to "Student", new_student_path %>
    <%= link_to "Instructor", new_instructor_path %>
  <% end %>
  <br>
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Signup", new_user_path %> or
  <%= link_to "Login", login_path %>
<% end %>