<!DOCTYPE html>
<html>
  <head>
    <title>Program2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    <% if current_user %>
      <%= link_to "Edit User Profile", edit_user_path(current_user) %>
      <%= link_to "Logout", logout_path %>
      <br>
      <% if !current_user.role.nil? %>
        Logged in as <%= current_user.name %>. Role
        <% if current_user.role == 'Admin' %>
          <u>Admin</u>
        <% elsif current_user.role == 'Instructor'%>
          <b><i>Instructor</i></b>
        <% else %>
          <b>Student</b>
        <% end %>
      <% end %>
    <%end %>
    <%= yield %>
  </body>
</html>
