<!DOCTYPE html>
<html>
  <head>
    <title>Program2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    <% if current_user %>
      | <%= link_to "User Profile", user_path(current_user[:id]) %> |
      <%= link_to "Course", courses_path %> |
      <%= link_to "Enrollments", enrollments_path %> |
      <%= link_to "Waitlist", waitlists_path %> |
      <%= link_to "Logout", logout_path %>
      <br>
      <% if !current_user.role.nil? %>
        Logged in as <%= current_user.name %>. Role
        <% if current_user.role == 'Admin' %>
          <u>Admin</u>
          <%= link_to "Admin Profile", admin_path(current_user.admin[:id]) %>
        <% elsif current_user.role == 'Instructor'%>
          <b><i>Instructor</i></b>
          <%= link_to "Instructor Profile", instructor_path(current_user.instructor[:id]) %>
        <% elsif  current_user.role == 'Student'%>
          <b>Student</b>
          <%= link_to "Student Profile", student_path(current_user.student[:id]) %>
        <% end %>
      <% end %>
    <%end %>
    <%= yield %>
  </body>
</html>
